{% extends 'base.html.twig' %}


{% form_theme form 'bootstrap_4_layout.html.twig' %}



{% block title %}Registruotis{% endblock %}

{% block body %}

<div class="container" style="width:20%">
	{{ form_start(form) }}
    {{ form_row(form.vardas) }}
    {{ form_row(form.pavarde) }}
    {{ form_row(form.slaptazodis.first) }}
    {{ form_row(form.slaptazodis.second) }}
    {{ form_row(form.adresas) }}
    {{ form_row(form.gimimo_data) }}
    {{ form_row(form.tel_nr) }}
    {{ form_row(form.el_pastas) }}
    {{ form_row(form.naujienlaiskiai) }}
    <button type="submit">Registruotis!</button>
{{ form_end(form) }}
</form>
</div>

{% endblock %}