{% extends 'base.html.twig' %}

{% block title %}Darbuotojai{% endblock %}

{% block body %}
    <div class="container mt-5">
      <h3 style="text-align: center">Darbuotojai</h3>
      <div style="display: flex; justify-content: center">
        <a href="/darbuotojas/prideti" class="btn btn-primary justify-content-center">Pridėti darbuotoją</a>
      </div>
      <table class="table mt-3">
        <thead>
          <tr>
            <th>#</th>
            <th>Vardas</th>
            <th>Pavardė</th>
            <th>El. paštas</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for user in users  %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{user.vardas}}</td>
      <td>{{user.pavarde}}</td>
      <td>{{user.ElPastas}}</td>
      <td><a href="{{path('darbredagavimas', {id: user.idDarbuotojas})}}"><button type="button" class="btn btn-primary">Redaguoti</button></a></td>
    </tr>
    {% endfor %}
        </tbody>
      </table>
    </div>
     
    <div class="container mt-5">
    <form action="{{ path('sendNewsletters') }}">
    <button action="submit"class="btn btn-primary justify-content-center">Išsiusti naujienlaiškius</button>
    </form>
    </div>

{% endblock %}