{% extends 'base.html.twig' %}

{% block title %}Darbuotojai{% endblock %}

{% block body %}
    <div class="container mt-5">
      <h3 style="text-align: center">Darbuotojai</h3>
      <div style="display: flex; justify-content: center">
      {% if naudotojas != 1%}
        <a href="/darbuotojas/prideti" class="btn btn-primary justify-content-center">Pridėti darbuotoją</a>
        {% endif %}
      </div>
      <table class="table mt-3">
        <thead>
          <tr>
            <th>#</th>
            <th>Vardas</th>
            <th>Pavardė</th>
            <th>El. paštas</th>
            <th>Darbo pradžia</th>
            <th>Darbo pabaiga</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for user in users  %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{user.vardas}}</td>
      <td>{{user.pavarde}}</td>
      <td>{{user.ElPastas}}</td>
      <td>{{user.darbopradzia|date('H:i:s')}}</td>
      <td>{{user.darbopabaiga|date('H:i:s')}}</td>
      {% if naudotojas != 1 %}
      <td><a href="{{path('darbredagavimas', {id: user.idDarbuotojas})}}"><button type="button" class="btn btn-primary">Redaguoti</button></a></td>
      {% if naudotojas == 3 %}
        <td><a href="{{path('valanduivedimas', {id: user.idDarbuotojas})}}"><button type="button" class="btn btn-primary">Įvesti darbo valandas</button></a></td>
        {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
        </tbody>
      </table>
    </div>
     
    <div class="container mt-5">
    <form action="{{ path('sendNewsletters') }}">
    <button action="submit"class="btn btn-primary justify-content-center">Išsiusti naujienlaiškius</button>
    </form>
    </div>

{% endblock %}