{% extends 'base.html.twig' %}

{% block title %}Darbuotojo priemimo forma{% endblock %}

{% block body %}
    <div class="container mt-5">
      <h3 style="text-align: center">Redaguoti/Atleisti</h3>
      <form class="mt-3" method = "POST" action = "{{path('atnaujinti', {id: user.idDarbuotojas})}}">
        <div class="form-row">
          <div class="form-group col-4">
            <input type="text" class="form-control" id="vardas" value="{{user.vardas}}">
          </div>
          <div class="form-group col-4">
            <input type="text" class="form-control" id="pavarde" value="{{user.pavarde}}">
          </div>
          <div class="form-group col-4">
            <input type="text" class="form-control" id="tel_nr" value="{{user.telnr}}">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-4">
            <input type="text" class="form-control" name="epastas" value="{{user.elpastas}}">
          </div>
          <div class="form-group col-4">
            <input type="text" class="form-control" name="adresas" value="{{user.adresas}}">
          </div>
          <div class="form-group col-4">
            <input type="number" class="form-control" name="role" placeholder="Iveskite role: 1-Klientas 2-Darbuotojas">
          </div>
        </div>
      <input type="submit" class="btn btn-primary" value ="Atnaujinti"</input>
      </form>
    </div>
{% endblock %}