{% extends 'base.html.twig' %}

{% block title %}Jūsų užsakymai{% endblock %}

{% block body %}

<div class="container mt-3">
  <h3 style="text-align: center; margin-bottom: 20px;">Mano užsakymai</h3>
  {% if orders|length > 0 %}
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Automobilis</th>
      <th scope="col">Keliones pradzia</th>
      <th scope="col">Keliones pabaiga</th>
      <th scope="col">Paslaugos statusas</th>
      <th scope="col">Minutes kaina</th>
      <th scope="col">Kaina viso</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <th scope="row">{{loop.index}}</th>
        <td>{{order.modelis}} {{order.pavadinimas}}</td>
        <td>{{order.paemimo_data|date('Y-m-d H:i:s')}}</td>
        <td>{% if order.grazinimo_data is not empty %} 
            {{order.grazinimo_data|date('Y-m-d H:i:s')}}</td>
            {% else %}
            Kelionė nebaigta</td>
            {% endif %}
        <td>{{order.name}}</td>
        <td>{{order.minutes_kaina}} Eur.</td>
        <td>{% if order.suma is empty %} 0 Eur. {% else %} {{order.suma}} Eur. {% endif %}</td>
        {% if order.uzsakymo_busena == 3 %} 
        <td>
          <form method="POST" action = "{{ path('redaguotiuzsakyma') }}" >
          <input type="hidden" name="orderid" value="{{order.id_UZSAKYMAS}}">
            <button type="submit" name="submitEdit" value="notempty" class="btn btn-dark">Tvarkyti paslaugą</button>
          </form>
        </td>
        {% else %}
          <td></td>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="h4">Išrinkti užsakymus</h1><br>
            <form method="POST" action = "{{ path('filtruotiuzsakymus') }}" >
            <p>Data nuo 
            <input type="Date" name="datanuo" value="{{'now'|date("Y-m-d")}}">
            <p>Data iki
            <input type="Date" name="dataiki" value="{{'now'|date("Y-m-d")}}" style="margin-left:13px"><br>
            <button type="submit" name="Filtruoti" value="notempty" class="btn btn-dark">Filtruoti</button>
            </form>
        </div>
    </div>
{% else %}
  <h5 style="text-align: center; margin-bottom: 20px;">Nėra pateikta užsakymų</h5>
{% endif %}

    <div class="container">
        <a href="/naujasuzsakymas">
          <button type="button" class="btn btn-dark">Naujas uzsakymas</button>
        </a>
    </div>
</div>

{% endblock %}