{% extends 'base.html.twig' %}

{% block title %}Jūsų užsakymai{% endblock %}

{% block body %}

<div class="container mt-3">
  <h3 style="text-align: center; margin-bottom: 20px;">Mano užsakymai</h3>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Automobilis</th>
      <th scope="col">Keliones pradzia</th>
      <th scope="col">Keliones pabaiga</th>
      <th scope="col">Paslaugos statusas</th>
      <th scope="col">Minutes kaina</th>
      <th scope="col">Kaina viso</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <th scope="row">{{loop.index}}</th>
        <td>{{order.modelis}} {{order.pavadinimas}}</td>
        <td>{{order.paemimo_data|date('Y-m-d H:i:s')}}</td>
        <td>{% if order.grazinimo_data is not empty %} 
            {{order.grazinimo_data|date('Y-m-d H:i:s')}}</td>
            {% else %}
            Kelionė nebaigta</td>
            {% endif %}
        <td>{{order.name}}</td>
        <td>{{order.minutes_kaina}} Eur.</td>
        <td>{{order.suma}} Eur.</td>
        {% if order.uzsakymo_busena == 3 %} 
        <td>
          <form method="POST" action = "{{ path('redaguotiuzsakyma') }}" >
          <input type="hidden" name="orderid" value="{{order.id_UZSAKYMAS}}">
            <button type="submit" name="submitEdit" value="notempty" class="btn btn-dark">Tvarkyti paslaugą</button>
          </form>
        </td>
        {% else %}
          <td></td>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="h4">Išrinkti užsakymus</h1><br>
            <p>Data nuo
            <input type="Date">
            <p>Data iki
            <input type="Date" style="margin-left:13px"><br>
            <p><input type="Submit" value="Tikrinti" style="margin-left:75px">
        </div>
    </div>
    <div class="container">
        <a href="/naujasuzsakymas">
          <button type="button" class="btn btn-dark">Naujas uzsakymas</button>
        </a>
    </div>
</div>

{% endblock %}