{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Naujas automobilis{% endblock %}

{% block body %}
    <div class="container mt-5">
      <h2>Naujas automobilis</h2>
      {{ form_start(form) }}
      {{ form_row(form.fk_marke) }}
      {{ form_row(form.modelis) }}
      {{ form_row(form.pagaminimo_metai) }}
      {{ form_row(form.valstybinis_nr) }}
      {{ form_row(form.pavaru_deze) }}
      {{ form_row(form.kuras) }}
      {{ form_row(form.duru_skaicius) }}
      {{ form_row(form.variklis) }}
      {{ form_row(form.minutes_kaina) }}
      <button type="submit" class="btn btn-primary btn-block">Pridėti</button>
      {{ form_end(form) }}
    </div>
{% endblock %}